@media screen and (max-width:992px) {

    .morgan-div {

        width: 70%;
    }
}


@media screen and (max-width:768px) {

    .hero-title {
        font-size: 3.0rem;
    }

    .morgan-div {

        width: 95%;
    }
}
